.first-block {
    position: relative;
    padding-top: 85px;
    height: 85vh;
    .resources-block{
        text-align: center;
        position: relative;
        .img-tsuru, .img-platina {
            position: absolute;
            top: 68%;
        }
        .img-tsuru{
            right: 12%;
        }
        .img-platina {
            transform: scaleX(-1);
            left: 10%;
        }
    }
    .content-hire-here {
        text-align: center;
        position: absolute;
    }
}