// Base colors
// $primary: hsl(0, 0%, 23%);
$primary: #27272c;
// $secondary: rgb(136, 178, 241);
$secondary: #cb1517;
$tertiary: #eebb06;

// Texts Color
$title-primary: #FF0D17;
$title-secondary: #292929;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$errors: #FF0D17;

// Border Colors
$lines: #363636;
$inputs: #363636;
$boxes: #363636;

