.action-btn {
    width: auto;
    font-size: 30px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.form-btn {
    width: auto;
    font-size: 25px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}